.background {
  display: flex;
  flex-flow: row nowrap;
}

.foreground {
  display: flex;
  flex-flow: row nowrap;
}

.middleground {
  position: relative;
  height: 100px;
}

#templates {
  display: none;
}

* {
  user-select: none;
}

.person {
  position: absolute;

  &.flip {
    transform: scalex(-1);
  }
}

.abs {
  position: absolute;
}

.instructions {
  display: none;

  &.show {
    display: block;
  }
}

#root {
  width: 300px;
}

.interactionMessage {
  background: #fff;
  box-shadow: #000b 0 0 10px 10px;

  .instructions {
    padding-left: 2em;
    padding-bottom: 1em;
  }
  .text {
    padding: 2em;
  }
}

.container {
  margin-top: Min(calc(50vh - 177px));
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  min-width: 300px;
}

.runOff {
  transition: 1s;
  transform: translatey(-100px);
  opacity: 0;
}

.streetTransition {
  perspective: 500px;
  position: relative;
  $transitionTime: 0.5s;
  transition: $transitionTime;
  transform-style: preserve-3d;

  .streetAssembly {
    transform: rotateY(0deg) translatex(0) translatez(0);
    transform-style: preserve-3d;
    transition: opacity inherit;
    transition: $transitionTime;
    transform-origin: center;
  }

  .street {
    transform: rotateY(0deg) translatex(0) translatez(0);
    //transition:0.5s;
    transform-origin: center;
    position: absolute;
    transform-style: preserve-3d;
    transition: opacity $transitionTime cubic-bezier(0.33, 1, 0.68, 1);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .streetTo {
    opacity: 0;
  }
}
