.instrcutions {
  text-align: center;
  padding-top: 1rem;
}

html,
body {
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.thoughtTextArea {
  padding-bottom: 0.5rem;
}

.thought {
  text-align: center;
  font-family: monospace;
  padding: 1rem;
  padding-bottom: 0;
  word-break: break-all;
}
.thought.done {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
  word-break: keep-all;
}

.output {
  display: flex;
  justify-content: center;
}

.GraphOutput {
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  height: 100%;
  margin: 1rem;
  position: relative;
}

@media (max-width: 700px) {
  .GraphOutput {
    height: 150px;
  }
}
.graphPoint {
  position: absolute;
  height: 1em;
  width: 1em;
  transform: translate(-0.5em, -0.5em);
}

.centerPoint {
  top: 50%;
  left: 50%;
  z-index: 1;
}

.activeFunction {
  text-align: center;
  padding: 1rem;
}

.scoreOutput {
  padding: 1rem;
  width: 8em;
  height: 1em;
  white-space: nowrap;
}

.storageZoneText {
  position: absolute;
  top: 50%;
  z-index: -1;
}

.card {
  overflow: visible;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  height: 5rem;
  width: 5rem;
  transform: translate(-2rem, -2rem);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1333333333);
  border: 2px solid rgba(0, 0, 0, 0.2666666667);
}
.card:not(.dragging) {
  transition: top 0.2s;
}
.card .cardFunctionCanvas {
  position: absolute;
  mix-blend-mode: multiply;
  top: -0.5rem;
}
.card.imageGem {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  box-shadow: none;
  filter: drop-shadow(5px 5px 5px #222);
}
.card.imageGem.dragging {
  filter: drop-shadow(8px 8px 5px rgba(34, 34, 34, 0.6705882353));
}
.card.imageGem .name {
  background: rgba(255, 255, 255, 0.9607843137);
  padding: 2px;
  border-radius: 4px;
  /* font-weight: bold; */
  font-family: cursive;
}

.cards {
  padding: 1rem;
  background: linear-gradient(rgba(17, 102, 238, 0.6), rgba(17, 102, 238, 0.6), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  height: 300px;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-flow: row nowrap;
}
.buttonContainer > * {
  flex: 1 1;
}

.draggable {
  position: absolute;
}

.dragContainer, .tray {
  position: relative;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
  -ms-user-select: none;
  user-select: none;
}

.btn {
  padding: 0.5rem;
  margin: 0.25rem;
  border-radius: 0.125rem;
  cursor: pointer;
}
.btn.success {
  background-color: #5eee59;
}
.btn.success:hover {
  background-color: #15af10;
}
.btn.danger {
  background-color: #e7a8a8;
}
.btn.danger:hover {
  background-color: #e28686;
}
.btn.info {
  background-color: #a8e7c4;
}
.btn.info:hover {
  background-color: #86e2b7;
}

.curveEditor .active {
  background-image: url(../assets/boxActive.png);
  background-size: contain;
  background-size: 102% 100%;
  background-position-x: 50%;
}
.curveEditor .tray {
  background-image: url(../assets/boxTray.png);
  background-size: 100% 66%;
}

.card .name {
  transform: translate(26px, 27px);
}

.card {
  z-index: 1;
}

.functionEditor2 {
  overflow: hidden;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  /* ==== Left ==== */
  /* ==== Right ==== */
}
.functionEditor2 .container {
  /* 16/9 */
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  margin: 0;
  transform-origin: top center;
}
.functionEditor2 .topArea,
.functionEditor2 .bottomArea {
  flex: 0 0 4em;
}
.functionEditor2 .mainSection {
  flex: 1 1;
  display: flex;
  flex-flow: row nowrap;
}
.functionEditor2 .curveEditor {
  flex: 0 1 42em;
  display: flex;
  flex-flow: column nowrap;
}
.functionEditor2 .active {
  flex: 0 0 15rem;
}
.functionEditor2 .tray {
  flex: 1 1;
}
.functionEditor2 .outputSide {
  flex: 2 1;
  display: flex;
  flex-flow: column nowrap;
}
.functionEditor2 .curveDisplays {
  flex: 0 0 25em;
  display: flex;
  flex-flow: row nowrap;
}
.functionEditor2 .curveDisplay {
  flex: 1 1;
}
.functionEditor2 .matchScore {
  flex: 0 0 2em;
}
.functionEditor2 .stats {
  display: flex;
  flex-flow: row nowrap;
}
.functionEditor2 .otherOutputs {
  flex: 1 1;
  display: flex;
  flex-flow: column nowrap;
}
.functionEditor2 .topBar {
  flex: 0 0;
  display: flex;
  flex-flow: row nowrap;
}
.functionEditor2 .mainOutput {
  flex: 1 1;
}
.functionEditor2 .container div {
  margin: 1rem;
}

/*# sourceMappingURL=waves.css.map */
